.sectionTop {
  width: 100%;
}

.sectionTopCarsList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.sectionTopCartItem {
  width: 33%;
  background-color: #f3f5f7;
  display: flex;
  align-items: center;
  row-gap: 15px;
  justify-content: center;
  flex-direction: column;
  height: 170px;
  padding: 16px 32px;
}

.sectionTopCartItem > h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #6c7275;
}

.sectionTopCartItem > p {
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  width: 75%;
  color: #141718;
}

.contactUsBigText {
  font-weight: 500;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: -0.4px;
  margin: 48px auto;
  text-align: center;
  color: #121212;
}

.sectionTopCartItemImgs {
  font-size: 30px;
}

.sectionBottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 8  0px;
}

.sectionBottomForm {
  width: 49%;
  row-gap: 24px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.sectionFormContentsBox {
  width: 100%;
}

.sectionFormContentsBox > textarea {
  width: 100%;
  color: #6c7275;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  border-radius: 6px;
  resize: none; 
  border: 1px solid #cbcbcb;
  padding: 16px;
}

.sectionFormContentsBox > input {
  padding: 7px 16px;
  color: #6c7275;
  font-weight: 400;
  font-size: 16px;  
  line-height: 26px;
  border: 1px solid #cbcbcb;
  border-radius: 6px;
  width: 100%;
}

.sectionBottomBtn {
  color: white;
  font-weight: 500;
  font-size: 16px;
  width: 40%;
  padding: 12px 35px;
  border: none;
  letter-spacing: -0.4px;
  background-color: #141718;
  border-radius: 8px;
  text-align: center;
}

iframe {
  width: 49%;
  height: 550.5px;
}
