.card {
  background-color: #f3f5f7;
  width: 24%;
  row-gap: 8px;
  height: 220px;
  display: flex;
  padding: 0 32px;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.cardBoxList {
  width: 100%;
  padding: 48px 0;
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */
  justify-content: center;
  gap: 24px;
}

.card > h3 {
  font-weight: 500;
  font-size: 20px;
  color: #141718;
}

.card > P {
  font-weight: 400;
  font-size: 14px;
  color: #6c7275;
}

@media (max-width: 1072px) {
  .card {
    padding: 20px;
  }

  .card > h3 {
    font-size: 18px;
  }

  .card > p {
    font-size: 13px;
  }
}

.cardBoxList {
  gap: 15px;
}