.imge {
  height: 100%;
  object-fit: cover;
  width: 50%;
}

.saleBoxList1 {
  display: flex;
  justify-self: center;
  align-items: center;
  width: 100%;
  height: 512px;
}

.text1 {
  padding: 0 0 0 70px;
  row-gap: 16px;
  display: flex;
  background-color: #f3f5f7;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  text-align: start;
  width: 50%;
}

.text1 > span {
  font-weight: 500;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: -0.4px;
  color: #141718;
}

.text1 > p {
  font-weight: 400;
  font-size: 16px;
  width: 80%;
  line-height: 26px;
  letter-spacing: 0px;
  color: #121212;
}

.text1 > button {
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #141718;
  font-size: 16px;
}

@media (max-width: 1150px) {
  .saleBoxList1 {
    height: 450px;
  }

  .text1 {
    padding: 0 0 0 40px;
  }

  .text1 > p {
    font-size: 18px;
    width: 100%;
  }
}

@media (max-width: 800px) {
  .saleBoxList1 {
    height: 400px;
  }

  .text1 {
    padding: 0 0 0 30px;
    row-gap: 10px;
  }

  .text1 > p {
    font-weight: 400;
    font-size: 16px;
    color: #141718;
    width: 100%;
  }

  .text1 > button {
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #141718;
    font-size: 15px;
  }

  .text1 > span {
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
  }
}

@media (max-width: 650px) {
  .saleBoxList1 {
    height: 330px;
  }

  .tex1 {
    padding: 0 0 0 20px;
    row-gap: 8px;
  }

  .text1 > p {
    font-size: 12px;
  }

  .text1 > button {
    font-size: 12px;
  }
}
