.imge {
  height: 100%;
  object-fit: cover;
  width: 50%;
}

.saleBoxList {
  display: flex;
  justify-self: center;
  align-items: center;
  width: 100%;
  height: 512px;
}

.text {
  padding: 0 0 0 70px;
  row-gap: 16px;
  display: flex;
  background-color: #f3f5f7;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  text-align: start;
  width: 50%;
}

.text > span {
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  color: #377dff;
}

.text > h2 {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.1;
  width: 80%;
  color: #141718;
}

.text > p {
  font-weight: 400;
  font-size: 20px;
  color: #141718;
  width: 70%;
}

.text > button {
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #141718;
  font-size: 16px;
}

@media (max-width: 1150px) {
  .saleBoxList {
    height: 450px;
  }

  .text {
    padding: 0 0 0 40px;
  }

  .text > h2 {
    width: 90%;
    font-size: 30px;
  }

  .text > p {
    font-size: 18px;
    width: 100%;
  }
}

@media (max-width: 800px) {
  .saleBoxList {
    height: 400px;
  }

  .text {
    padding: 0 0 0 30px;
    row-gap: 10px;
  }

  .text > h2 {
    font-weight: 500;
    font-size: 25px;
    line-height: 1.1;
    width: 80%;
    color: #141718;
  }

  .text > p {
    font-weight: 400;
    font-size: 16px;
    color: #141718;
    width: 100%;
  }

  .text > button {
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #141718;
    font-size: 15px;
  }

  .text > span {
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    color: #377dff;
  }
}

@media (max-width: 650px) {
  .saleBoxList {
    height: 330px;
  }

  .text {
    padding: 0 0 0 20px;
    row-gap: 8px;
  }

  .text > h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.1;
    width: 80%;
    color: #141718;
  }

  .text > p {
    font-size: 12px;
  }

  .text > button {
    font-size: 12px;
  }
}
