.signUpBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-self: center;
  width: 100%;
}

.signupImgLeft {
  width: 49%;
}

.signUpRight {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: start;
  flex-direction: column;
  width: 49%;
  margin-bottom: auto;
  margin-top: 200px;
  padding: 0 80px;
}

.signUpRight > h2 {
  font-weight: 500;
  font-size: 40px;
  letter-spacing: -0.4px;
  color: #141718;
}
