.cart1 {
  margin-bottom: auto;
  position: relative;
  width: 48.9%;
  height: 668px;
}

.cart2 {
  height: 48%;
  width: 100%;
  position: relative;
  margin-bottom: auto;
}
.spann {
  color: white;
}

.imgsBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.btns {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  color: #141718;
  row-gap: 12px;
  position: absolute;
  left: 32px;
  top: 32px;
}

.btns > h3 {
  font-size: 34px;
  font-weight: 500;
}

.btns > button {
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #141718;
  font-size: 16px;
}

.btns2 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  color: #141718;
  row-gap: 12px;
  position: absolute;
  left: 32px;
  bottom: 35px;
}

.btns2 > h3 {
  font-size: 34px;
  font-weight: 500;
}

.btns2 > button {
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #141718;
  font-size: 16px;
}

.btns3 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  color: #141718;
  row-gap: 12px;
  position: absolute;
  left: 32px;
  bottom: 35px;
}

.btns3 > h3 {
  font-size: 34px;
  font-weight: 500;
}

.btns3 > button {
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #141718;
  font-size: 16px;
}

.big {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.twiceImgsBox {
  row-gap: 25px;
  display: flex;
  align-items: flex-start;
  height: 668px;
  width: 48.9%;
  justify-content: center;
  flex-direction: column;
  margin-bottom: auto;
}

.imgg {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

@media (max-width: 950px) {
  .cart1 {
    height: 500px;
  }

  .twiceImgsBox {
    height: 500px;
    row-gap: 20px;
  }
}

@media (max-width: 800px) {
  .cart1 {
    height: 480px;
  }

  .twiceImgsBox {
    height: 480px;
    row-gap: 18px;
  }

  .btns {
    left: 20px;
    top: 20px;
    row-gap: 5px;
  }

  .btns2,
  .btns3 {
    row-gap: 5px;
    left: 20px;
    bottom: 22px;
  }

  .btns > h3,
  .btns2 > h3,
  .btns3 > h3 {
    font-size: 25px;
  }

  .btns > button,
  .btns2 > button,
  .btns3 > button {
    font-size: 13px;
  }
}

@media (max-width: 700px) {
  .cart1 {
    height: 450px;
  }

  .twiceImgsBox {
    row-gap: 15px;
    height: 450px;
  }
}

@media (max-width: 650px) {
  .cart1 {
    height: 400px;
  }

  .twiceImgsBox {
    height: 400px;
    row-gap: 12px;
  }
}

@media (max-width: 600px) {
  .cart1 {
    height: 370px;
  }

  .twiceImgsBox {
    height: 370px;
    row-gap: 11px;
  }

  .btns {
    left: 15px;
    row-gap: 2px;
    top: 15px;
  }

  .btns2,
  .btns3 {
    left: 15px;
    bottom: 16px;
    row-gap: 2px;
  }

  .btns > h3,
  .btns2 > h3,
  .btns3 > h3 {
    font-size: 22px;
  }

  .btns > button,
  .btns2 > button,
  .btns3 > button {
    font-size: 10px;
  }
}

@media (max-width: 550px) {
  .cart1 {
    height: 330px;
  }

  .twiceImgsBox {
    height: 330px;
    row-gap: 10px;
  }
}

@media (max-width: 500px) {
  .cart1 {
    height: 295px;
  }

  .twiceImgsBox {
    height: 295px;
    row-gap: 9px;
  }

  .btns {
    left: 12px;
    top: 12px;
    line-height: 1.1;
  }

  .btns2,
  .btns3 {
    line-height: 1.1;
    left: 12px;
    bottom: 13px;
  }

  .btns > h3,
  .btns2 > h3,
  .btns3 > h3 {
    font-size: 20px;
  }

  .btns > button,
  .btns2 > button,
  .btns3 > button {
    font-size: 9px;
  }
}

@media (max-width: 450px) {
  .cart1 {
    height: 260px;
  }

  .twiceImgsBox {
    height: 260px;
    row-gap: 8px;
  }

  .btns {
    left: 10px;
    top: 10px;
    line-height: 1.1;
  }

  .btns2,
  .btns3 {
    line-height: 1.1;
    left: 10px;
    bottom: 11px;
  }

  .btns > h3,
  .btns2 > h3,
  .btns3 > h3 {
    font-size: 16px;
  }

  .btns > button,
  .btns2 > button,
  .btns3 > button {
    font-size: 8px;
  }
}
