.topBox {
  display: flex;
  align-items: center;
  padding: 48px 0;
  justify-content: space-between;
}

.topText {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.1;
  color: black;
}

.topBtn {
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #141718;
  font-size: 16px;
}

/* @media (max-width: 650px) {
    .topText {
        font-size: 30px;
    }
}

@media (max-width: 450px) {
    .topText {
        font-size: 25px;
    }
} */
