@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');  


body {
    background-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
    outline: none;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1260px;
    margin: 0 auto;
}

button {
    cursor: pointer;
}

/* img {
    object-fit: contain;
} */